@charset "UTF-8";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body, html {
	margin: 0;
	padding: 0;
}




/* --------- TOP ------------ */

.top {
	width: 100%;
	height: 300px;
	margin: 0;
	background-color: #1A2B34;
	color: #fff;
	font-family: 'teko';
	font-size: 80px;
	font-weight: 100;

	display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
				text-align: center;

				-webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    		-moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    		box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);

}

.top-subtitle {
	font-family: 'Montserrat';
	font-size: 25px;
	margin: 0;
	padding: 0;
}






/* --------MAIN----------- */

.main {
	margin: 0;
	margin-top: -20px;
	padding: 0;
	position: relative;
	font-family: 'Montserrat';
	color: #fff;
	text-decoration: none;
}

.main-list-link {
	text-decoration: none;
	color: #fff;
	display: block;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	padding-top: 10px;
	z-index: 10;
}

.main-list-link:last-child {
	border: 0;
}

.main-list {
	opacity: 0;
	transition: .5s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	font-weight: 100;
}

.title {
	width: auto;
	height: 100%;
	padding-left: 20px;
	font-size: 30px;
	font-weight: 200;

	display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

				transition: .5s ease;
}

.exercises {
	width: 100%;
	height: 100px;
	margin: 0;
	background-color: #EE5E64;
	display: flex;
	flex-direction: row;
	transition: .5s ease;
}

#list-exercise {
	height: 0;
	opacity: 0;
	display: flex;
	transition: .5s ease;
	flex-direction: row;
	font-size: 1px;


        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
}

.exercises:hover {
	height: 200px;

	-webkit-box-shadow: inset 50px 30px 30px -30px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 50px 30px 30px -30px rgba(0,0,0,0.8);
	box-shadow: inset 50px 30px 30px -30px rgba(0,0,0,0.8);
}

.exercises:hover #list-exercise {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: auto;
	opacity: 1;
	font-size: 16px;
}

.exercises:hover .title {
	width: auto;
	height: auto;
	opacity: 1;
	margin: 0;
	margin-left: -25px;
	padding: 0;


	-ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}















.inclass {
	width: 100%;
	height: 100px;
	margin: 0;
	background-color: #FB9150;
	display: flex;
	flex-direction: row;
	transition: .5s ease;
}

.inclass:hover {
	height: 200px;

	-webkit-box-shadow: inset 50px 30px 30px -30px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 50px 30px 30px -30px rgba(0,0,0,0.8);
	box-shadow: inset 50px 30px 30px -30px rgba(0,0,0,0.8);
}

#list-inclass {
	height: 0;
	opacity: 0;
	display: flex;
	transition: .5s ease;
	flex-direction: row;
	font-size: 1px;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
}

.inclass:hover #list-inclass {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: auto;
	opacity: 1;
	font-size: 16px;
}

.inclass:hover .title {
	width: auto;
	height: auto;
	opacity: 1;
	margin: 0;
	margin-left: -15px;
	padding: 0;


	-ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}














.pro1 {
	width: 100%;
	height: 100px;
	margin: 0;

	background-color: #FBC95A;
	display: flex;
	flex-direction: row;
	transition: .5s ease;
}

.pro1:hover {
	height: 250px;

	-webkit-box-shadow: inset 50px 30px 30px -30px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 50px 30px 30px -30px rgba(0,0,0,0.8);
	box-shadow: inset 50px 30px 30px -30px rgba(0,0,0,0.8);
}

#list-pro1 {
	height: 0;
	opacity: 0;
	display: flex;
	transition: .5s ease;
	flex-direction: row;
	font-size: 1px;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
}

.pro1:hover #list-pro1 {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: auto;
	opacity: 1;
	font-size: 16px;
	margin-left: -30px;
}

.pro1:hover .title {
	width: auto;
	height: auto;
	opacity: 1;
	margin: 0;
	margin-left: -50px;
	padding: 0;


	-ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}










.pro2 {
	width: 100%;
	height: 100px;
	margin: 0;
	background-color: #98C892;
	display: flex;
	flex-direction: row;
	transition: .5s ease;
}

.pro2:hover {
	height: 280px;

	-webkit-box-shadow: inset 50px 30px 30px -30px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 50px 30px 30px -30px rgba(0,0,0,0.8);
	box-shadow: inset 50px 30px 30px -30px rgba(0,0,0,0.8);
}

#list-pro2 {
	height: 0;
	opacity: 0;
	display: flex;
	transition: .5s ease;
	flex-direction: row;


        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
}

.pro2:hover #list-pro2 {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: auto;
	opacity: 1;
}

.pro2:hover .title {
	width: auto;
	height: auto;
	opacity: 1;
	margin: 0;
	margin-left: -25px;
	padding: 0;


	-ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


.fill {
	width: 100%;
	height: 400px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.fill-content {
	width: 80%;
	height: 400px;
	border-radius: 10px;
	background-color: #fff;
}
